<main class="flex  gap-10 items-center content-center justify-center w-full h-dvh flex-1 px-20 text-center">
  <div class="bg-illustration1 bg-cover bg-no-repeat w-6/12 h-3/4"></div>
  <div  class="w-8/12 h-3/4 flex flex-col justify-center items-center border-0 sm:text-xl xl:text-2xl" >
    <div class="flex flex-col sm:gap-0 xl:gap-2" hlmCardHeader>
      <h1 class="text-4xl font-bold sm:text-xl xl:text-3xl">Sign Up</h1>
      <h1 class="text-2xl font-semibold sm:text-xl xl:text-2xl">Create an account to continue</h1>
    </div>

    <form [formGroup]="signup" class="flex flex-col sm:gap-0 xl:gap-3 mt-5 sm:text-xs xl:text-xl  md:w-9/12 xl:w-8/12" hlmCardContent>
      <div class="w-full flex justify-center items-center gap-2">
        <div class="flex flex-col gap-3 w-1/2">
          <div class="flex items-start flex-col gap-1 w-full">
            <label for="name" hlmLabel>Name</label>
            <input class="w-full" formControlName="name" hlmInput id="name" placeholder="Enter your name" type="text">
          </div>
          <div class="flex flex-col items-start gap-1 w-full">
            <label for="email" hlmLabel>Email</label>
            <input class="w-full" formControlName="email" hlmInput id="email" placeholder="Enter your email" type="email">
          </div>
        </div>
        <div class="flex flex-col gap-3 w-1/2">
          <div class="flex flex-col items-start gap-1 w-full">
            <label for="password" hlmLabel>Password</label>
            <input class="w-full" formControlName="password" hlmInput id="password" placeholder="Enter your password"
                   type="password">
          </div>
          <div class="flex flex-col items-start gap-1 w-full">
            <label for="confirmedPassword" hlmLabel>Confirm Password</label>
            <input class="w-full" formControlName="confirmPassword" hlmInput id="confirmedPassword" placeholder="Enter your password"
                   type="password">
          </div>
        </div>

      </div>


      <div class="flex flex-col items-start gap-1 w-full">
        <label for="password" hlmLabel>Phone</label>
        <input class="w-full" formControlName="phone" hlmInput id="phone" placeholder="Enter your phone" type="text">
      </div>
      <div class="flex flex-col items-start gap-1">
        <label for="password" hlmLabel>Address</label>
        <input class="w-full" formControlName="address" hlmInput id="address" placeholder="Enter your address"
               type="text">
      </div>
      <div class="flex flex-col  items-start gap-3 sm:text-xs xl:text-xl">
        <label for="terms" hlmLabel>Terms and conditions</label>
        <div class="flex items-center font-semibold gap-2">
          <hlm-checkbox  class=""  formControlName="acceptTerms" hlmInput id="terms"
                 type="checkbox">
          </hlm-checkbox>
          <div class="sm:text-xs xl:text-[1rem]">
            By creating an account, you agree to the terms and conditions
          </div>

        </div>

      </div>
      <div class="w-full" hlmCardFooter>
        <button (click)="singUp()" class="w-full" hlmBtn>Sign Up</button>

      </div>
    </form>
  </div>

</main>
